.container{
    width: 800px !important;
}

.row{
    border: 1px solid rgb(229, 231, 235);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top:10px;
    /*margin: 0 auto !important;*/

}

.roadmaps{
    color: rgb(106, 114, 130) !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    /*white-space: nowrap !important;*/
}

.a{
    text-decoration: none ;
    color: rgb(153, 161, 175) !important  ;
    font-size: 14px !important;
    height: 32px !important;
}

.roadmaps:hover,
.a:hover{
    color: black !important;
    transition: color 0.2s ease-in-out;
}

.h1{
   font-size: 48px;
   margin-bottom: 14px !important;
}

.p{
    font-size: 18px;
    color: rgb(106, 114, 130);
}

.button{
    padding: 6px 12px;
    color: black !important;
    background-color: white !important;
    font-size: 14px !important;  white-space: nowrap !important;

}

.bookmark{
    color: rgb(106, 114, 130);
    stroke-width: 2.8px;
}

.bookmark:hover{
    color: black;
}

.buttonCalendar{
    background-color: rgb(229, 231, 235) !important;
    font-weight: 500 !important;
    border: none !important;
}

.buttonCalendar:hover{
    background-color: rgb(209, 213, 219) !important;
}

.buttonShare,
.buttonDownload{
    font-weight: 500 !important;
    background-color: rgb(253, 199, 0) !important;
    border: none !important;
}

.buttonShare:hover,
.buttonDownload:hover{
    background-color: rgb(227, 179, 0) !important;
}

.buttonPersonalize{
    background-color: transparent !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: rgb(106, 114, 130) !important;
    border: none !important;
}

.buttonPersonalize:hover{
    color: black !important;
}

.buttonPersonalizeSpan{
    background-color: rgb(255, 240, 133) !important;
    padding: 2px 8px;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: black !important;
    margin-left: 5px;
}

.buttonPersonalizeSpan:hover{
    background-color: rgb(255, 223, 32) !important;
}

.active {
    color: black !important;
    border-bottom: 2px solid black !important;
    font-weight: 500 !important;
}